@media (max-width: 555px) { 
  #Login-header{ width: 248px; }
  #Login-container{ min-width: 270px }
}

#Login-footer {
  display: flex; 
  justify-content: space-between;
}

#Login-container { max-width: 493px; }

.pd-vw-5 { padding: 0px 2.5vw; }

.pd-w-3{ padding: 0px 1.5rem; }
.pd-r-3{ padding-right: 1.5rem; }

.ma-center { margin: 0 auto; }
